<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>{{ client.organization }}</title>
  <link rel="icon" type="image" href="{{ client.logo }}" alt="{{ client.organization }} logo">

  <script type="text/javascript">
    var require = {
      paths: {
        table_template: '{{ client.table_template }}'
      }
    }
  </script>

  <script type="text/javascript" src="app/helper/object.assign-polyfill.js"></script>
  <script type="text/javascript" src="app/config/common.js"></script>
  <script type="text/javascript" src="app/config/jiff.js"></script>

  <script data-main="app/index" src="app/vendor/require.js"></script>
  <script type="text/javascript" src="app/helper/array.reduce-polyfill.min.js"></script>

  {% if client.surveyjs %}
  <link href="https://unpkg.com/survey-jquery/modern.min.css" type="text/css" rel="stylesheet">
  <link href="https://unpkg.com/survey-jquery@1.9.40/survey.css" type="text/css" rel="stylesheet"/>
  {% endif %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css"
        integrity="sha256-JvdVmxv7Q0LsN1EJo2zc1rACwzatOzkyx11YI4aP9PY=" crossorigin="anonymous"/>
  <link rel="stylesheet" type="text/css" href="styles/handsontable.full.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.10.0/css/alertify.min.css"
        integrity="sha256-bNEFYRlNlnu0CH4DIKCXv0F6JVl/DdA2M9XVZn317q0=" crossorigin="anonymous"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.10.0/css/themes/bootstrap.min.css"
        integrity="sha256-vt37wNLVK8ICNWGrl+1MLb+pjq33sn6v37Q/7OPgkSU=" crossorigin="anonymous"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.0/ladda-themeless.min.css"
        integrity="sha256-d7VZTlP9P3ZTCZ3Bkl8aGZ/+Vs4i+bpcOGNfibU7+LU=" crossorigin="anonymous"/>

  <link rel="stylesheet" href="styles/style.css">

</head>
<body>

<header>
  <div class="container">
    <h1>{{ client.organization }}<br/>
      <subtitle> {{ client.subtitle }}</subtitle>
    </h1>
<!--     <div id="logos">
      <img src="{{ client.logo }}" alt="{{ client.organization }} Logo"/>
      <img src="images/bu.gif" alt="BU Logo"/>
    </div> -->
  </div>
</header>


<main id="content" class="container">


  {% if client.introblock %}
  <div class="row">
    <section id="introblock" class="card col-md-10 col-md-offset-1">
      <div class="form-group">
        <h2 class="text-center">Welcome!</h2>
        <p class="text-justify">
          Hello and welcome! We appreciate your participation in this survey. This survey is a part of <a href="https://museumsmovingforward.com/" target="_blank">Museums Moving Forward</a>’s (MMF) efforts to support greater equity and accountability in museum workplaces through coalition-building, research, and advocacy. Your museum is participating in this initiative with three parts — a survey with just a few questions for the director, a brief survey for the HR officer, and a survey for all staff about their personal experiences and perceptions of the institution. We would greatly appreciate your participation in both surveys. <b>This survey is the HR survey about your organization as a whole</b>. 
        </p>
        <p class="text-justify">
          Your institution will receive a benchmarking report for this survey comparing your answers to the answers provided by your peers in other art museums (in aggregate). Your institution’s response will be shared back with you along with a benchmark of the average of all responses; MMF and our research partners will only see these aggregate responses. The information you provide will contribute to a fieldwide picture of workplace equity that will be publicly available in the Spring of 2023. Please check out this <a href="https://mpcfaq.com" target="_blank">FAQ page</a> to read more about the confidentiality of the responses and how this data will be used.
        </p>
        <p class="text-justify">
          We expect that the survey will take HR officers an average of 1-2 hours to find all the relevant information for this 18-question survey. <b>To help make this process easier, we are also providing an excel sheet that you can complete at your leisure and then submit available <a href="https://museumsmovingforward.com/#survey-instruments-pdf" target="_blank">HERE</a></b>. Please complete this survey only once. 
          </p>
        <p class="text-justify">The steps for completing the HR Survey are as follows:</p>
        <ol>
          <li>Download and complete our survey excel form (available <a href="https://museumsmovingforward.com/#survey-instruments-pdf" target="_blank">HERE</a>).  You must submit data (instructions below) before December 1.</li>
          <li>Come back to this website using the <b>unique link</b> for the HR Survey that you received from MMF.</li>
          <li>Drag and drop your completed Excel survey file (or navigate to the file on your computer) using the Input section below.</li>
          <li>Save our suggested password OR create your own that you’ll be able to use to access your HR survey results with benchmarks to other museums in Spring 2023.</li>
          <li>Verify and push submit at the bottom of this page.  Please do not close your browser until you see a pop-up confirming that your data has been submitted.</li>
        </ol>
        <p class="text-justify">
          Thank you for your time and willingness to participate in this study.
        </p>
      </div>
      <!-- Test starts here -->
      <div class="row"> 
        <div class="col-md-12">
          <button type="getResults" id="getResults" class="btn btn-primary ladda-button btn-lg btn-block">Get Results
          </button>
        </div>
      </div>
      <!-- End test -->
    </section>
  </div>
  {% endif %}



  {% if client.show_ids %}
  <div class="row">
    <section id="session-area" class="card col-md-10 col-md-offset-1">
      <h2 class="text-center">Input your data</h2>
      <p class="text-center">We've tried copying your {{ client.session_key }} and participation code from the unique link.  Please do not manually modify these fields.  If you do not see these fields marked with a green check, please try re-copying your unique link into your browser.  Otherwise, drag and drop your completed excel template file to encrypt and include your submission in the aggregate data.</p>
      <hr/>
      <div class="row">
        {% if client.dragAndDropInput %}
        <div class="col-md-6">
        {% else %}
        <div class="col-md-10">
        {% endif %}
          <form>
            <div class="form-group">
              <label class="control-label" for="session">{{ client.session_key }}</label>
              <input type="text" id="session" class="form-control" placeholder="{{ client.session_key }}" pattern="^[a-zA-Z0-9]{26}$"
                     autocomplete="off" required/>
              <span id="session-success" class="success-icon glyphicon glyphicon-ok form-control-feedback hidden"
                    aria-hidden="true"></span>
              <span id="session-fail" class="fail-icon glyphicon glyphicon-remove form-control-feedback hidden"
                    aria-hidden="true"></span>
              <span id="session-fail-help"
                    class="fail-help help-block hidden">Please input the 26-character {{ client.session_key }}.</span>
              <span id="session-fail-custom-help"
                    class="fail-custom help-block hidden"></span>
            </div>
            <div class="form-group">
              <label class="control-label" for="participation-code">Participation code</label>
              <input type="text" id="participation-code" class="form-control" placeholder="Participation code"
                     pattern="^[a-zA-Z0-9]{26}$"
                     autocomplete="off" required>
              <span id="participation-code-success"
                    class="success-icon glyphicon glyphicon-ok form-control-feedback hidden"
                    aria-hidden="true"></span>
              <span id="participation-code-fail"
                    class="fail-icon glyphicon glyphicon-remove form-control-feedback hidden"
                    aria-hidden="true"></span>
              <span id="participation-code-fail-help"
                    class="fail-help help-block hidden">Please input the 26-character participation code.</span>
              <span id="participation-code-fail-custom-help"
                    class="fail-custom help-block hidden"></span>
            </div>
          </form>
          {% if cohorts %}
          <div id="cohort-self-selection" class="form-group">
            <div id="cohort-name">{{client.cohort}}</div>
            <label id="cohort-drop-label" for="cohortDrop">{{ client.cohort }} selection</label>
            <select class="form-control" id="cohortDrop">
              <option value="-">-- Select option --</option>
              {% for cohort in cohorts %}
                <option value="{{ cohort.id }}">{{ cohort.name }}</option>
              {% endfor %}
            </select>
          </div>
          {% endif %}
        </div>
        {% if client.dragAndDropInput %}
        <div class="col-md-6">
          <div id="drop-area">
            Drag and drop your completed template file here
            <br/>
            <p>&mdash;or&mdash;</p><br/>
            <button id="choose-file-button" class="btn btn-primary">Choose file</button>
            <label id="file-name"></label>
          </div>
          <input type="file" id="choose-file" accept=".xlsx,.xls">
        </div>
        {% endif %}
      </div>
    </section>
  </div>
  {% else %}
   <p id="session" hidden></p>
   <p id="participation-code" hidden></p>
  {% endif %}

  {% if client.dragAndDropInput %}
  <div class="row">
    <section id="instructions" class="card col-md-10 col-md-offset-1">
      <h2 class="text-center">View your data</h2>
      <p class="text-center">After you input your data using the drag/drop interface above, you may expand this section to review your data.  Note that you may see several additional rows we have added to aid in our computation, and 'x' has been replaced with 1.  Please do not directly edit any of these tables directly.</p>
      <span id="expand-table-button" class="arrow-down"></span>

      <div id="tables-area">
        <hr/>
        <h3>Entered Data</h3>

        <span class="qtip-red">Red cells</span> <span>indicate an error. Click on the cell to see the error message.</span>
        <p></p>
        <span class="qtip-yellow"> Yellow cells</span> <span> indicate the value might be outside of the expected range. Please double-check
          to make sure the data is correct. You will still be able to submit your data.</span>
      </div>
    </section>
  </div>
  {% endif %}

  {% if client.surveyjs %}
  <div class="row">
    <section id="additional-questions" class="card col-md-10 col-md-offset-1">
      <h2 class="text-center">Answer additional questions</h2>

      <p class="text-center">
        We have included these questions to get instant feedback as to how this process went in order to improve the
        process in future years. Please know that the answers to these questions will be anonymous, and they will be
        considered separately from the encrypted and aggregated data above.
      </p>
      <hr/>

      <div id="questions">
      </div>


    </section>
  </div>
  {% endif %}

  {% if client.tables %}
  <div class="row">
    <section id="password" class="card col-md-10 col-md-offset-1">
      <div class="form-group">
        <h2 class="text-center">Create a Password</h2>
        <p class="text-center">
        Please create a password that you can use to view your museum's results later.  Keep this password in a safe place - if you misplace it you will not be able to access your museum's results!
        </p>
        <p class="text-center">
        We have autopopulated the field with a strong password, but you may change it.
        </p>
        <label class="control-label" for="public-key-password">Password</label>
        <input type="text" id="public-key-password" class="form-control" pattern="^[a-zA-Z0-9]{26}$" autocomplete="off" required/>
        <span id="public-key-password-success" class="success-icon glyphicon glyphicon-ok form-control-feedback hidden"
              aria-hidden="true"></span>
        <span id="public-key-password-fail" class="fail-icon glyphicon glyphicon-remove form-control-feedback hidden"
              aria-hidden="true"></span>
        <span id="public-key-password-fail-help"
              class="fail-help help-block hidden">Please input a password.  We have pre-populated a strong password here, but you may change the password if necessary.</span>
        <span id="public-key-password-fail-custom-help"
              class="fail-custom help-block hidden"></span>
      </div>
    </section>
  </div>
  {% endif %}

  {% if client.tables %}
  <div class="row">
    <section id="review-and-submit" class="card col-md-10 col-md-offset-1">
      <h2 class="text-center">Verify and submit your data</h2>
      <p class="text-center">
        Please ensure that all entered data is accurate.
      </p>
      <hr/>
      <div class="row">
        <div class="col-md-6">
          <div id="totals-table"></div>
          <form>
            <div class="checkbox">
              <label>
                <input type="checkbox" id="verify" name="verify">I verified all data is correct.
              </label>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div id="errors">
            <h4>Errors</h4>
            <ul id="validation-errors" class="has-error">
              <li>No Errors!</li>
            </ul>
          </div>
          <h4>Submission history</h4>
          <ul id="submission-history">
            <li>You have not submitted yet.</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" id="submit" class="btn btn-primary ladda-button btn-lg btn-block" disabled>Submit
          </button>
        </div>
      </div>
    </section>
  </div>
  {% endif %}

  <br/>
</main>

{% if client.phone or client.email %}
<footer id="footer" class="shadow-top">
  <div class="container">
      <div class="row text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-5 col-md-5">
          <ul class="list-unstyled text-muted footer-text">
            {% if client.phone %}
            <li><span class="glyphicon glyphicon-earphone"></span> {{ client.phone }}</li>
            {% endif %}
            {% if client.email %}
            <li> <span class="glyphicon glyphicon-envelope"></span> {{ client.email }}</li>
            {% endif %}
          </ul>
          <p class="text-muted footer-text"><a href=https://museumsmovingforward.com>museumsmovingforward.com</a></p>
        </div>
      </div>
  </div>
</footer>
{% endif %}

</body>
</html>
